.st-emotion-cache-99ud0u a{
    color: #ffd452;
    text-decoration: none;
}

.st-emotion-cache-99ud0u a:hover{
    color: #544a7d;
    text-decoration: underline;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}

h1 .st-emotion-cache-10trblm {
    /*font-size: 72px;*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,74,125,1) 0%, rgba(147,125,109,1) 30%, rgba(255,212,82,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.st-emotion-cache-99ud0u svg {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}

.st-emotion-cache-99ud0u svg:hover {
    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,74,125,1) 0%, rgba(147,125,109,1) 30%, rgba(255,212,82,1) 100%);*/
    /*-webkit-text-fill-color: transparent;*/
    /*-webkit-background-clip: text;*/
    color: magenta;
}

